In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Adjust pandas display options to ensure all columns are shown
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)
pd.set_option('display.max_rows', None)

In [3]:
csv_files = []
# Walk the directory tree
for root, dirs, files in os.walk('../files_for_merge'):
    for file in files:
        # Check if the file ends with '.csv'
        if file.endswith('.csv'):
            # Get the full path to the file
            full_path = os.path.join(root, file)
            csv_files.append(full_path)
csv_files

['../files_for_merge\\df_sloebrug_opening_per_hour.csv',
 '../files_for_merge\\holidaysPerDate.csv',
 '../files_for_merge\\Weather.csv']

In [4]:
df_file_path = (csv_files[0])
df_bridgeOpening = pd.read_csv(df_file_path, delimiter=',')
column_mapping = {"Hour of the year":"Hour of year"}
df_bridgeOpening = df_bridgeOpening[['Opening_duration_in_seconds', 'Hour of the year']].rename(columns=column_mapping)
df_bridgeOpening.info()
df_bridgeOpening.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2338 entries, 0 to 2337
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Opening_duration_in_seconds  2338 non-null   float64
 1   Hour of year                 2338 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 36.7 KB

   Opening_duration_in_seconds  Hour of year
0                        440.0            10
1                        411.0            34
2                        506.0            35
3                        410.0            36
4                        604.0            40
5                        436.0            60
6                        416.0            85
7                        423.0            88
8                        449.0           104
9                        426.0           118

In [5]:
df_file_path = (csv_files[1])
df_holidays = pd.read_csv(df_file_path, delimiter=',')
df_holidays.info()
df_holidays.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 184 non-null    object
 1   NL national holiday  184 non-null    float64
 2   BE national holiday  184 non-null    float64
 3   DE national holiday  184 non-null    float64
 4   FR national holiday  184 non-null    float64
 5   NL school holiday    184 non-null    float64
 6   BE school holiday    184 non-null    float64
 7   DE school holiday    184 non-null    float64
 8   FR school holiday    184 non-null    float64
dtypes: float64(8), object(1)
memory usage: 13.1+ KB

,Date,NL national holiday,BE national holiday,DE national holiday,FR national holiday,NL school holiday,BE school holiday,DE school holiday,FR school holiday
0,2023-01-01,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2023-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2023-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2023-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2023-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,2023-01-06,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
6,2023-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,2023-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,2023-02-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,2023-02-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [6]:
df_file_path = (csv_files[2])
df_weather = pd.read_csv(df_file_path, delimiter=',')
df_weather.info()
df_weather.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 11 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
dtypes: int64(10), object(1)
memory usage: 752.9+ KB

,Date,Hour,Hourly average wind (0.1 m/s),Temperature at 1.5m height (0.1 degrees),Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour),Fog (1 or 0),Rain (1 or 0),Snow (1 or 0),Thunder (1 or 0),Ice formation (1 or 0),Hour of year
0,2023-01-01,1,140,131,0,0,0,0,0,0,1
1,2023-01-01,2,140,128,0,0,0,0,0,0,2
2,2023-01-01,3,140,126,0,0,0,0,0,0,3
3,2023-01-01,4,140,112,0,0,1,0,0,0,4
4,2023-01-01,5,110,106,0,0,0,0,0,0,5
5,2023-01-01,6,110,106,0,0,0,0,0,0,6
6,2023-01-01,7,100,102,0,0,0,0,0,0,7
7,2023-01-01,8,80,96,0,0,0,0,0,0,8
8,2023-01-01,9,90,102,2,0,1,0,0,0,9
9,2023-01-01,10,90,109,10,0,0,0,0,0,10

In [7]:
df_merged = pd.merge(df_weather, df_holidays, on='Date', how='left')
df_merged.info()
df_merged.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 19 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
 11  NL national holiday                                            4416 non-null   float64
 12  BE national holiday                                            4416 non-null   float64
 13  DE national holiday                                            4416 non-null   float64
 14  FR national holiday                                            4416 non-null   float64
 15  NL school holiday                                              4416 non-null   float64
 16  BE school holiday                                              4416 non-null   float64
 17  DE school holiday                                              4416 non-null   float64
 18  FR school holiday                                              4416 non-null   float64
dtypes: float64(8), int64(10), object(1)
memory usage: 1.3+ MB

,Date,Hour,Hourly average wind (0.1 m/s),Temperature at 1.5m height (0.1 degrees),Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour),Fog (1 or 0),Rain (1 or 0),Snow (1 or 0),Thunder (1 or 0),Ice formation (1 or 0),Hour of year,NL national holiday,BE national holiday,DE national holiday,FR national holiday,NL school holiday,BE school holiday,DE school holiday,FR school holiday
0,2023-01-01,1,140,131,0,0,0,0,0,0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2023-01-01,2,140,128,0,0,0,0,0,0,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2023-01-01,3,140,126,0,0,0,0,0,0,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,2023-01-01,4,140,112,0,0,1,0,0,0,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,2023-01-01,5,110,106,0,0,0,0,0,0,5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,2023-01-01,6,110,106,0,0,0,0,0,0,6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,2023-01-01,7,100,102,0,0,0,0,0,0,7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,2023-01-01,8,80,96,0,0,0,0,0,0,8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,2023-01-01,9,90,102,2,0,1,0,0,0,9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,2023-01-01,10,90,109,10,0,0,0,0,0,10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [8]:
df_merged = pd.merge(df_merged, df_bridgeOpening, on='Hour of year', how='left')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 20 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Date                                                           8760 non-null   object
 1   Hour                                                           8760 non-null   int64
 2   Hourly average wind (0.1 m/s)                                  8760 non-null   int64
 3   Temperature at 1.5m height (0.1 degrees)                       8760 non-null   int64
 4   Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)  8760 non-null   int64
 5   Fog (1 or 0)                                                   8760 non-null   int64
 6   Rain (1 or 0)                                                  8760 non-null   int64
 7   Snow (1 or 0)                                                  8760 non-null   int64
 8   Thunder (1 or 0)                                               8760 non-null   int64
 9   Ice formation (1 or 0)                                         8760 non-null   int64
 10  Hour of year                                                   8760 non-null   int64
 11  NL national holiday                                            4416 non-null   float64
 12  BE national holiday                                            4416 non-null   float64
 13  DE national holiday                                            4416 non-null   float64
 14  FR national holiday                                            4416 non-null   float64
 15  NL school holiday                                              4416 non-null   float64
 16  BE school holiday                                              4416 non-null   float64
 17  DE school holiday                                              4416 non-null   float64
 18  FR school holiday                                              4416 non-null   float64
 19  Opening_duration_in_seconds                                    2338 non-null   float64
dtypes: float64(9), int64(10), object(1)
memory usage: 1.3+ MB

In [9]:
df_merged.columns
#df_merged = df_merged[['Date', 'Hour', 'Opening_duration_in_seconds', 'Hour of the year']]

Index(['Date', 'Hour', 'Hourly average wind (0.1 m/s)',
       'Temperature at 1.5m height (0.1 degrees) ',
       'Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour)',
       'Fog (1 or 0)', 'Rain (1 or 0)', 'Snow (1 or 0)', 'Thunder (1 or 0)',
       'Ice formation (1 or 0)', 'Hour of year', 'NL national holiday',
       'BE national holiday', 'DE national holiday', 'FR national holiday',
       'NL school holiday', 'BE school holiday', 'DE school holiday',
       'FR school holiday', 'Opening_duration_in_seconds'],
      dtype='object')

In [11]:
df_merged.head(10)

,Date,Hour,Hourly average wind (0.1 m/s),Temperature at 1.5m height (0.1 degrees),Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour),Fog (1 or 0),Rain (1 or 0),Snow (1 or 0),Thunder (1 or 0),Ice formation (1 or 0),Hour of year,NL national holiday,BE national holiday,DE national holiday,FR national holiday,NL school holiday,BE school holiday,DE school holiday,FR school holiday,Opening_duration_in_seconds
0,2023-01-01,1,140,131,0,0,0,0,0,0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
1,2023-01-01,2,140,128,0,0,0,0,0,0,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
2,2023-01-01,3,140,126,0,0,0,0,0,0,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
3,2023-01-01,4,140,112,0,0,1,0,0,0,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
4,2023-01-01,5,110,106,0,0,0,0,0,0,5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
5,2023-01-01,6,110,106,0,0,0,0,0,0,6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
6,2023-01-01,7,100,102,0,0,0,0,0,0,7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
7,2023-01-01,8,80,96,0,0,0,0,0,0,8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
8,2023-01-01,9,90,102,2,0,1,0,0,0,9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
9,2023-01-01,10,90,109,10,0,0,0,0,0,10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,440.0

In [12]:
# Replace all NaN values with 0
df_merged.fillna(0, inplace=True)
df_merged.head(10)

,Date,Hour,Hourly average wind (0.1 m/s),Temperature at 1.5m height (0.1 degrees),Duration of sunshine per hour (0.1 hours) (-1 for <0.05 hour),Fog (1 or 0),Rain (1 or 0),Snow (1 or 0),Thunder (1 or 0),Ice formation (1 or 0),Hour of year,NL national holiday,BE national holiday,DE national holiday,FR national holiday,NL school holiday,BE school holiday,DE school holiday,FR school holiday,Opening_duration_in_seconds
0,2023-01-01,1,140,131,0,0,0,0,0,0,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1,2023-01-01,2,140,128,0,0,0,0,0,0,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
2,2023-01-01,3,140,126,0,0,0,0,0,0,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,2023-01-01,4,140,112,0,0,1,0,0,0,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
4,2023-01-01,5,110,106,0,0,0,0,0,0,5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
5,2023-01-01,6,110,106,0,0,0,0,0,0,6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
6,2023-01-01,7,100,102,0,0,0,0,0,0,7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
7,2023-01-01,8,80,96,0,0,0,0,0,0,8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
8,2023-01-01,9,90,102,2,0,1,0,0,0,9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
9,2023-01-01,10,90,109,10,0,0,0,0,0,10,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,440.0

In [13]:
# Export the DataFrame to a new CSV file
df_merged.to_csv('../mergedData\\Weather+Holidays+Openings.csv', index=False)